.sponsors {
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px  5px 5px lightgray;
  gap: 1rem;
  width:100%;
  padding:2rem 0rem 1rem 0rem;
  border-top-left-radius: 5px;
}
